/*NUEVO*/
* {
font-family: 'Montserrat', sans-serif;
}
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: #FFF9EE; 
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px; */
}
/* header */
.nav ul{
    list-style:none;
    background: #5A2A2A;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.nav li {
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.esp a{
    padding: 15px;
}

.nav a:hover{
    background:#7B5351;
    transition:0.4s;
}

.contenedor-logo{
    margin:auto;
    text-align: center;
}

/*Los recomendados*/
.recom {
    justify-content: space-around !important;
    list-style:none;
    background: #5A2A2A;
    position: relative;
    width: 100%;
    height: 40px;
    flex: 0 0 auto;
    /* padding: 0;
    margin: 0; */
}

.recom p{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 18px;


}

.recom a{
    text-align: right;
    color: #fff;
}



/*Footer*/
.footer {
    display: flex;
    justify-content: space-around !important;
    list-style:none;
    background:#A0827D;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    flex: 0 0 auto;
    /* padding: 0;
    margin: 0; */
}

.footer p{
    text-decoration: none;
    color: #fff;
    text-align: left;

}

.footer a{
    text-align: right;
    color:#C9C4B9;
    margin-top: 16px;
    
}


input[name="slider-select-element"] {
    display: none;
}

/* Posición de las flechas del slider */
#slider-arrows {
    margin: -17% auto 20% auto;
    width: 99%;
}

#slider-box {
    height: 100%;
    width: 300%;
}

/* Slider */
#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 100%; /* Modifica el ancho del slider */
}

.element-blue,
.element-green,
.element-red {
    min-height: 500px; /* Modifica lo alto del slider */
    max-height: 100%;
    width: 100%;
}

/* Cada elemento del slider */
.element-blue {
    background-image: url('img/Slider.png');
    background-size: 100% 100%;
}

.element-green {
    background-image: url('img/Slider2.png');
    background-size: 100% 100%;
}

.element-red {
    background-image: url('img/Slider.png');
    background-size: 100% 100%;
    
}

.slider-element {
    float: left;
    width: 33.333%;
}

#element1:checked ~ #slider-arrows label:nth-child(2),
#element2:checked ~ #slider-arrows label:nth-child(3),
#element3:checked ~ #slider-arrows label:nth-child(1) {
    display: block;
    float: right;
}

#element1:checked ~ #slider-arrows label:nth-child(3),
#element2:checked ~ #slider-arrows label:nth-child(1),
#element3:checked ~ #slider-arrows label:nth-child(2) {
    display: block;
    float: left;
}

#element1:checked ~ #slider-arrows label:nth-child(2):before,
#element2:checked ~ #slider-arrows label:nth-child(3):before,
#element3:checked ~ #slider-arrows label:nth-child(1):before {
    color: white  ;
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-arrows label:nth-child(3):before,
#element2:checked ~ #slider-arrows label:nth-child(1):before,
#element3:checked ~ #slider-arrows label:nth-child(2):before {
    color: white  ;
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-container #slider-box {
    margin-left: 0;
}

#element2:checked ~ #slider-container #slider-box {
    margin-left: -100%;
}

#element3:checked ~ #slider-container #slider-box {
    margin-left: -200%;
}

#slider-arrows label {
    color: transparent;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 20px;
    width: 20px;
}

#slider-box {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

/* Recuadros de la sección inferior */
  div.recuadro {
    width: 70%;
    padding: 20px;
    margin: 20px auto;
    height: 350px;
    background-color: #f7f1e8;
    color: #817A7A;
    margin-bottom: 40px;
    border-radius: 20px;
    font-size: 25px;
  }
  
  div.recuadro img.izquierda {
    float: left;
    margin-right: 15px;
    width:450px;
    height:350px;
  }
  
  div.recuadro img.derecha {
    float: right;
    width:450px;
    height:350px;
    margin-left: 15px;
  }


  div.reset {
    clear: both;
  }

  div.recuadro h3.titulo {
    color: #000000;
    text-align: center;
    margin-top: -5px;
  }

  div.recuadro-co {
      color:none;
  }


.sinpuntos{
    list-style:none;
}

  /*ESPECIELIDADES*/


  /*CONTACTO*/
div.map {
    text-align: center;
    width: 100%;
}

div.formulario {
    display: flex;
    justify-content: space-around !important;
    text-align: left;
}


/*FORM*/


form{
	width:1100px;
	padding:16px;
	border-radius:10px;
	margin:auto;
}

form label{
	width:180px;
    font-weight:bold;
    font-size: 25px;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:15px 460px;
	border:2.5px solid #E1DCD3;
	border-radius:3px;
	background-color:#fff;
    text-align: left;
    margin: 0;
}

form input[type="submit"]{
    font-size: 25px;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #985A5A;
	border-radius:0px;
	display:block;
	color:#fff;
	background-color:#985A5A;
}

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
    text-align: left;
	width:100%;
	height:100px!important;
	border:1px solid #fff;
	border-radius:3px;
	background-color:#fff;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	
}

form input[type="mensaje"]{
    width:20px;
	padding:60px 540px;
	border:2.5px solid #E1DCD3;
	border-radius:3px;
	background-color:#fff;
    text-align: center;
    margin: 0;
}

div.recuadroabajo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 360px;
    padding: 0px;
    margin: 0px ;
    height: 540px;
    background-color:#FFFAF2;
    color: #817A7A;
    margin-bottom: 40px;
    border-radius: 32px;
    border: 1px solid #707070;
    font-size: 15px;
  }
  
  div.recuadroabajo img.arriba {
    float: center;
    margin: 0px;
    width:360px;
    height:330px;
  }

  .contenedor {
    width: 95%;
    max-width: 1200px; /** = 1200px; **/
    margin: 0 auto;
}


div.recuadroabajos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 360px;
    padding: 0px;
    margin: 0px ;
    height: 400px;
    color: black;
    margin-bottom: 40px;
    border-radius: 32px;
    font-size: 15px;
  }
  
  div.recuadroabajos img.arribas {
    float: center;
    margin: 0px;
    width:360px;
    height:330px;
  }

  h2 {
      font-size: 30px;
      color: white;
      text-align: center;
      background-color: #5A2A2A;
      padding: 10px;
  }